//base
$color-base: #3C3C3C;
$color-button-border: #3C3C3C;

//section header
$color-header-headers: #3C3C3C;

//section login/signin
$color-auth-input-border: #3C3C3C;

//section menu
$color-mobile-header: #FAD648;
$color-logo-border: #000;
$color-mobile-nav-background: rgba(255, 255, 255, 0.9);
$color-auth-font: #737373;
$color-nav-border: #3C3C3C;

//section how-4steps
$color-how-line: #707070;

//section three columns
$color-three-col-num: #5E5322;

//section who we help
$color-btn-active:#3C3C3C;
$color-table-border: #3C3C3C;



//section contact form
$color-input-border: #3C3C3C;

//section form- things to donate
$color-mobile-steps-background: #FAD648;
$color-form-important: #FAD648;
$color-form-headers: #000;
$color-form-checked: #FAD648;
$color-form-radio-button-background: #707070;


